{
    email admin@mytestingid.com
}

mytestingid.com, www.mytestingid.com {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
    reverse_proxy nginx:80
}
